
body{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
 }
 /*-------------navigation bar-----------------------*/
 .navbar{
     display: flex;
     background-color: rgb(40, 29, 202);
     height: 100px;
     width: 100%;
     opacity: 0.76;
 }
 .navbar h2{
    font-size: 8vmin;
    margin-left: 50px;
    color: white;
 }

 .logout{
    margin-left:auto ;
     padding: 1vmax 3vmax;
 }
 .logout a{
     text-decoration: none;
     color: white;
     font-size: 1.5rem;
 }
 .logout a:hover{
     color:rgb(82, 71, 233);
     text-decoration: underline;
 
 }
